/* File.css */ 


.file-icon {

	background-image: https://images.app.goo.gl/rkiD8njRYYtCAX4S6('folder-icon.png'); 

	width 20px; 
	height: 20px; 


}



.folder-icon {
	background-image: https://images.app.goo.gl/rkiD8njRYYtCAX4S6('folder-icon.png'); 

	width 20px; 
	height: 20px; 

}
